* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_container{
    position: relative;
    color: blue;
}

.page{
    padding: 20px;
    height: 100vh;
}

.page1{
    background-color:greenyellow;
}
.page2{
    background-color: pink;
}
.page3{
    background-color: antiquewhite;
}
.page4{
    background-color: skyblue;
}

.page p{
    word-break: break-all;
    font-size: italic;
    font-size: 2rem;
    letter-spacing: 10px;
    text-shadow: 5px 5px 1px rgba(51, 51, 51, 0.314);
}

.img{
    width: 300px;
    height: 400px;
    background-size:100% ;
    float: left;
    margin-right:20px;
}
.img1{
    background-image: url(../../image/images/img1.jpg);
}
.img2{
    background-image: url(../../image/images/img2.jpg);
}
.img3{
    background-image: url(../../image/images/img3.jpg);
}
.img4{
    background-image: url(../../image/images/img4.jpg);
}

.btn{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    position:fixed;
    right: 0;
    opacity: .5;
}
.upBtn{
    background: url(../../image/images/up.png) 100%/100%;
    top: 50%;
    transform: translateY(-100%);
}
.downBtn{
    background: url(../../image/images/down.png) 100%/100%;
    top: 50%;
    transform: translateY(100%);
}
