*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*****************전체*********************/
body{
    display:flex;
    align-items: center;
    justify-content:center;
    height: 100vh;

}

form{
    width:700px;
}

fieldset{
    border: none;
}

legend{
    width: 100%;
    font-size:1.7rem;
    border-bottom: 1px solid;
    padding-bottom:10px;
    margin-bottom:10px;
}

.required, .choose, .agree{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.required input, .choose input{
    border:none;
    background-color:rgb(255, 242, 247);
    flex:1;
    padding: 0 10px;
}

label{
    /* width: 15%; */
    flex-basis: 15%;
}

.required div, .choose > div{
    display:flex;
    gap:10px;
    line-height:2rem;
}

.choose input[type=checkbox]{
    display: none;
}
.choose div:nth-of-type(2) div:nth-of-type(2) {
    display:flex;
    flex: 1;
    gap: 10px;
    text-align: center;
}
.choose div:nth-of-type(2) label {
    display: block;
    background-color:rgb(250, 224, 241);
    flex: 1;
}


.choose input[type=checkbox]:checked+label{
    background-color:rgb(199, 209, 228);
}

/***********필수입력사항****************/

/*선택사항*/


.choose div:nth-of-type(2) > div:first-child{
    flex-basis: 15%;
}

/******약관동의*/

.joinbt{
    width:100%;
    margin:10px 0;
    line-height: 4rem;
    font-size: 1.5rem;
    background-color:rgb(199, 209, 228);
    border: none;
}


