*{
    margin: auto;
    list-style: none;
}


legend{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}

fieldset{
    width: 500px;
    /* line-height: 100%; */
    /* margin-top: 30px; */
}
input, select{
    margin-left: 15px;
}
fieldset:not(div){
    border: none;
}

input {
    margin: 10px;
    border-radius: 
}


/*생년 월일 방문경로 밑에 줄 띄고 싶은데ㅎ 모르겠옴 */