p {
    margin: 0;
}

.parentBox {
    background-color: antiquewhite;
width:400px;
border:solid 5px red;
text-align:justify;
word-break: break-all;
margin:auto;
}

.p2box {
padding:20px;
}
<!-- 부모요소에 패딩을 지정함으로써 부모요소에 할당하려는 너비를 초과. -->

.p3box {
width:360px;
padding:20px;
}
<!--
    패딩을 뺀 너비를 부모요소에 재할당하여 너비를 유지.
    이는 패딩을 조정할 때마다 부모요소의 너비도 매번 조정해야하는 문제점.
  -->
.p4box p {
padding:20px;
}

/* 
< box-sizing >

- content-box : width 와 height 의 영역을 컨텐트 영역까지로 지정. ( 디폴트 값 )
- border-box : width 와 height 의 영역을 보더 영역까지로 지정.
*/

<!-- 
    부모요소의 패딩이 아닌 자식요소의 패딩을 조정.
    이는 부모요소가 아닌 자식요소에 패딩을 지정함으로써 원하는 레이아웃이
    아닌 결과를 초래할 수 있으며, 자식요소가 하나인 경우에는 문제가 되지
    않지만 자식요소가 여러개 존재하는 경우에는 개별 자식요소에 대한 모든
    패딩을 별도로 지정해야 하는 문제점 발생 가능.
   -->

.p5box {
box-sizing: content-box;
padding:20px;
}

.p5box:hover {
box-sizing: border-box;
width:410px;
}
<!--
호버하면 content-box 를 border-box 로 변경함으로써 지정된 부모요소의
width 를 컨텐트 영역이 아닌 보더 영역까지를 포함하여 산출.
--> */


/* p{
    margin: 0;
}

.parentBox{
    background-color:antiquewhite;
    width:400px;
    border: solid 5px red;
    text-align: justify;
    word-break: break-all;
    margin: auto;
}


.p2box{
    padding: 20px;
}

.p3box{
    width:360px;
    padding:20px;
}



.p4box p {
    padding:20px;
}


.p5box{
    box-sizing: content-box;
    padding:20px;
}

.p5box:hover{
    box-sizing: border-box;
    width:410px;
}

