*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

header, main, footer {
    width: calc(1024px * 0.8);
    margin: auto;
}

header, footer{
    height: 20vh;
}

/*------------------------------*/
#section_article ,
aside,
header h1, 
header h1 a, 
header nav,
header nav li,
header nav li a{
    display: inline-block;
}

header h1 a,
header nav li a{
    text-indent: -9999em;
}

/*------------------------------*/

footer{
    line-height: 20vh
}

/*------------------------------*/

section, article {
    width: calc((1024px * 0.8)* 0.7)
}
section {
    line-height: calc(60vh * 0.6);
    background-color: gray;
}
article{
    line-height: calc(60vh*0.4);
    background-color:cadetblue;
}

aside {
    background-color: burlywood;
    vertical-align: top;
    line-height: 60vh;
    width: calc((1024px * 0.8) * 0.3);
    margin-left: -6px;
    }
/*------------------------------*/

header h1 a{
    background :url(../../image/starbucks.jpg) center/ 100% no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 20px;
}
header nav li a{
    background:url(../../image/coffee.jpg);
    width: 108px;
    height:38px;
    margin-left: 20px;
}

header nav li a{
    background-position: -3px -3px;
}

li:nth-child(2) a {
    background-position: calc(-3px + -109px ) -3px;
}

li:nth-child(3) a {
    background-position: calc(-3px + -109px * 2 - 1px) -3px
}

li:nth-child(4) a {
    background-position: calc(-3px + -109px * 3 - 2px) -3px;
}
header nav li:hover a{
    background-position: -3px -42px;
}

li:nth-child(2):hover a {
    background-position: calc(-3px + -109px ) -42px;
}

li:nth-child(3):hover a {
    background-position: calc(-3px + -109px * 2 - 1px) -42px
}

li:nth-child(4):hover a {
    background-position: calc(-3px + -109px * 3 - 2px) -42px;
}


header h1 {
    margin: calc((20vh - 150px)/ 2) 20px;
}

header nav{
    margin: calc((20vh - 38px)/2) 20px;
    vertical-align: top;
}
