*{
    margin: 0;
}

.container1 {
    display: grid;
    grid-template: repeat(10, 1fr)  /repeat(10, 1fr) 0px;
    height:100vh;
    
    column-gap: 5px;
    row-gap:5px;
}

.container1 div{
    background-color:cadetblue;
}

.container1 div:nth-child(2n){
    opacity: .3;
}
